// 1. Include functions first (so you can manipulate colors, SVGs, calc, etc)
@import "../node_modules/bootstrap/scss/functions";

// 2. Include any default variable overrides here
$link-decoration: none;

// 3. Include remainder of required Bootstrap stylesheets
@import "../node_modules/bootstrap/scss/variables";
@import "../node_modules/bootstrap/scss/variables-dark";
@import url('https://fonts.googleapis.com/css2?family=Lato:ital,wght@0,100;0,300;0,400;0,700;0,900;1,100;1,300;1,400;1,700;1,900&display=swap');



// 4. Include any default map overrides here
$custom-colors: (
        "wh": #F5EFE3,
        "db": #2A1813,
        "lb": #715b4c,
        "gr": #86A687,
        "wd": #EBE0CF,

);

$theme-colors: map-merge($theme-colors, $custom-colors);

@import "bootstrapComponents";

// 5. Du kan lave styling her...

@font-face {
  font-family: 'Zodiak-Variable';
  src: url('../fonts/Zodiak-Variable.woff') format('woff');
  font-weight: 100 900;
  font-display: swap;
  font-style: normal;
}

@font-face {
  font-family: 'Zodiak-VariableItalic';
  src: url('../fonts/Zodiak-VariableItalic.woff') format('woff');
  font-weight: 100 900;
  font-display: swap;
  font-style: italic;
}

.navbar{
  font-family: Lato;

}

@media (max-width: 767.98px) {
  .logo {
    max-width: 50%;

  }
}

@media (min-width: 768px) {
  .logo {
    max-width: 20%;
  }
}

@media (max-width: 767.98px) {
  .navbar.custom-border {
    border: 0 !important;
    box-shadow: none !important;
  }
}


@media (min-width: 768px) {
  .navbar.custom-border {
    border-top: 2px solid #715b4c;
    border-bottom: 2px solid #715b4c;
  }
}
.velkommen {
  font-size: xxx-large;
  font-family: Zodiak;
}

.ST {
  font-size: xxx-large;
  font-family: Zodiak;
  font-weight: bold;
}

.oase {
  font-size: xxx-large;
  font-family: Zodiak-Italic;

}

.rolige {
  font-size: xx-large;
  font-family: Zodiak;
}

.btn {
  font-family: Zodiak;
}