// 1. Include functions first (so you can manipulate colors, SVGs, calc, etc)
@import "../node_modules/bootstrap/scss/functions";

// 2. Include any default variable overrides here
$link-decoration: none;

// 3. Include remainder of required Bootstrap stylesheets
@import "../node_modules/bootstrap/scss/variables";
@import "../node_modules/bootstrap/scss/variables-dark";
@import url('https://fonts.googleapis.com/css2?family=Lato:ital,wght@0,100;0,300;0,400;0,700;0,900;1,100;1,300;1,400;1,700;1,900&display=swap');


// 4. Include any default map overrides here
$custom-colors: (
        "wh": #F5EFE3,
        "db": #2A1813,
        "lb": #715b4c,
        "gr": #86A687,
        "wd": #EBE0CF,
);

$theme-colors: map-merge($theme-colors, $custom-colors);

@import "bootstrapComponents";

// 5. Du kan lave styling her...


@font-face {
  font-family: 'Zodiak-Variable';
  src: url('../fonts/Zodiak-Variable.woff') format('woff');
  font-weight: 100 900;
  font-display: swap;
  font-style: normal;
}

@font-face {
  font-family: 'Zodiak-VariableItalic';
  src: url('../fonts/Zodiak-VariableItalic.woff') format('woff');
  font-weight: 100 900;
  font-display: swap;
  font-style: italic;
}

@font-face {
  font-family: 'Zodiak-Thin';
  src: url('../fonts/Zodiak-Thin.woff') format('woff');
  font-weight: 100;
  font-display: swap;
  font-style: normal;
}
@font-face {
  font-family: 'Zodiak-ThinItalic';
  src: url('../fonts/Zodiak-ThinItalic.woff') format('woff');
  font-weight: 100;
  font-display: swap;
  font-style: italic;
}
@font-face {
  font-family: 'Zodiak-Light';
  src: url('../fonts/Zodiak-Light.woff') format('woff');
  font-weight: 300;
  font-display: swap;
  font-style: normal;
}
@font-face {
  font-family: 'Zodiak-LightItalic';
  src: url('../fonts/Zodiak-LightItalic.woff') format('woff');
  font-weight: 300;
  font-display: swap;
  font-style: italic;
}
@font-face {
  font-family: 'Zodiak-Regular';
  src: url('../fonts/Zodiak-Regular.woff') format('woff');
  font-weight: 400;
  font-display: swap;
  font-style: normal;
}
@font-face {
  font-family: 'Zodiak-Italic';
  src: url('../fonts/Zodiak-Italic.woff') format('woff');
  font-weight: 400;
  font-display: swap;
  font-style: italic;
}
@font-face {
  font-family: 'Zodiak-Bold';
  src: url('../fonts/Zodiak-Bold.woff') format('woff');
  font-weight: 700;
  font-display: swap;
  font-style: normal;
}
@font-face {
  font-family: 'Zodiak-BoldItalic';
  src: url('../fonts/Zodiak-BoldItalic.woff') format('woff');
  font-weight: 700;
  font-display: swap;
  font-style: italic;
}
@font-face {
  font-family: 'Zodiak-Extrabold';
  src: url('../fonts/Zodiak-Extrabold.woff') format('woff');
  font-weight: 800;
  font-display: swap;
  font-style: normal;
}
@font-face {
  font-family: 'Zodiak-ExtraboldItalic';
  src: url('../fonts/Zodiak-ExtraboldItalic.woff') format('woff');
  font-weight: 800;
  font-display: swap;
  font-style: italic;
}
@font-face {
  font-family: 'Zodiak-Black';
  src: url('../fonts/Zodiak-Black.woff') format('woff');
  font-weight: 900;
  font-display: swap;
  font-style: normal;
}
@font-face {
  font-family: 'Zodiak-BlackItalic';
  src: url('../fonts/Zodiak-BlackItalic.woff') format('woff');
  font-weight: 900;
  font-display: swap;
  font-style: italic;
}

body {
  font-family: 'Zodiak-Regular', serif;
}

.navbar {
  font-family: 'Lato', 'sans-serif';

}

@media (max-width: 767.98px) {
  .logo {
    max-width: 50%;

  }
}

@media (min-width: 768px) {
  .logo {
    max-width: 20%;
  }
}

@media (max-width: 767.98px) {
  .navbar.custom-border {
    border-top: 2px solid #715b4c;
  }
}


@media (min-width: 768px) {
  .navbar.custom-border {
    border-top: 2px solid #715b4c;
    border-bottom: 2px solid #715b4c;
  }
}

@media (max-width: 767.98px) {
  .custom-border {
    border-top: 2px solid #715b4c;
  }
}


@media (min-width: 768px) {
  .custom-border {
    border-top: 2px solid #715b4c;
    border-bottom: 2px solid #715b4c;
  }
}

.btn {
  font-family: Zodiak;
}

.modal-header {
  border: none;
}

.modal-footer {
  border: none;
}

@media (max-width: 767.98px) {
  .monstera-bg {
    display: none !important;
  }
}

@media (max-width: 767.98px) {
  .telefon-bg {
    position: absolute;
    opacity: 0.3;
    width: 100%;
    z-index: -1;
    pointer-events: none;

  }

}
@media (min-width: 768px) {
  .telefon-bg {
    display: none !important;
  }
}



@media (min-width: 768px) {
  .monstera-bg {
    position: absolute;
    opacity: 0.3;
    width: 100%;
    z-index: -1;
    pointer-events: none;
  }

}

.text-overlay {
  position: relative;
  z-index: 1;
}


.fed {
  font-family: 'Zodiak-Bold', 'serif';
}

.accordion-body {
  background-color: #EBE0CF;
  color: #2A1813;
}

.accordion-header {
  background-color: #EBE0CF;
  color: #2A1813;
  border-color: #EBE0CF;
}

.accordion-item {
  background-color: #EBE0CF;
  border-color: #EBE0CF;
}

.accordion-button {
  background-color: #EBE0CF;
  border-color: #EBE0CF;

}

.accordion-button:not(.collapsed) {
  background-color:#EBE0CF;
  color: #2A1813;
  border-color: #EBE0CF;
}

.fedkursiv {
font-family: 'Zodiak-BoldItalic';
}

.kursiv {
  font-family: 'Zodiak-Italic';
}
