// 1. Include functions first (so you can manipulate colors, SVGs, calc, etc)
@import "../node_modules/bootstrap/scss/functions";

// 2. Include any default variable overrides here
$link-decoration: none;

// 3. Include remainder of required Bootstrap stylesheets
@import "../node_modules/bootstrap/scss/variables";
@import "../node_modules/bootstrap/scss/variables-dark";
@import url('https://fonts.googleapis.com/css2?family=Lato:ital,wght@0,100;0,300;0,400;0,700;0,900;1,100;1,300;1,400;1,700;1,900&display=swap');


// 4. Include any default map overrides here
$custom-colors: (
        "wh": #F5EFE3,
        "db": #40291C,
        "lb": #664B3C,
        "gr": #86A687,
        "wd": #EBE0CF,
);

$theme-colors: map-merge($theme-colors, $custom-colors);

@import "bootstrapComponents";

// 5. Du kan lave styling her...


@font-face {
  font-family: 'Zodiak-Variable';
  src: url('../fonts/Zodiak-Variable.woff') format('woff');
  font-weight: 100 900;
  font-display: swap;
  font-style: normal;
}

@font-face {
  font-family: 'Zodiak-VariableItalic';
  src: url('../fonts/Zodiak-VariableItalic.woff') format('woff');
  font-weight: 100 900;
  font-display: swap;
  font-style: italic;
}

@font-face {
  font-family: 'Zodiak-Thin';
  src: url('../fonts/Zodiak-Thin.woff') format('woff');
  font-weight: 100;
  font-display: swap;
  font-style: normal;
}
@font-face {
  font-family: 'Zodiak-ThinItalic';
  src: url('../fonts/Zodiak-ThinItalic.woff') format('woff');
  font-weight: 100;
  font-display: swap;
  font-style: italic;
}
@font-face {
  font-family: 'Zodiak-Light';
  src: url('../fonts/Zodiak-Light.woff') format('woff');
  font-weight: 300;
  font-display: swap;
  font-style: normal;
}
@font-face {
  font-family: 'Zodiak-LightItalic';
  src: url('../fonts/Zodiak-LightItalic.woff') format('woff');
  font-weight: 300;
  font-display: swap;
  font-style: italic;
}
@font-face {
  font-family: 'Zodiak-Regular';
  src: url('../fonts/Zodiak-Regular.woff') format('woff');
  font-weight: 400;
  font-display: swap;
  font-style: normal;
}
@font-face {
  font-family: 'Zodiak-Italic';
  src: url('../fonts/Zodiak-Italic.woff') format('woff');
  font-weight: 400;
  font-display: swap;
  font-style: italic;
}
@font-face {
  font-family: 'Zodiak-Bold';
  src: url('../fonts/Zodiak-Bold.woff') format('woff');
  font-weight: 700;
  font-display: swap;
  font-style: normal;
}
@font-face {
  font-family: 'Zodiak-BoldItalic';
  src: url('../fonts/Zodiak-BoldItalic.woff') format('woff');
  font-weight: 700;
  font-display: swap;
  font-style: italic;
}
@font-face {
  font-family: 'Zodiak-Extrabold';
  src: url('../fonts/Zodiak-Extrabold.woff') format('woff');
  font-weight: 800;
  font-display: swap;
  font-style: normal;
}
@font-face {
  font-family: 'Zodiak-ExtraboldItalic';
  src: url('../fonts/Zodiak-ExtraboldItalic.woff') format('woff');
  font-weight: 800;
  font-display: swap;
  font-style: italic;
}
@font-face {
  font-family: 'Zodiak-Black';
  src: url('../fonts/Zodiak-Black.woff') format('woff');
  font-weight: 900;
  font-display: swap;
  font-style: normal;
}
@font-face {
  font-family: 'Zodiak-BlackItalic';
  src: url('../fonts/Zodiak-BlackItalic.woff') format('woff');
  font-weight: 900;
  font-display: swap;
  font-style: italic;
}

body {
  font-family: 'Zodiak-Regular', serif;
}

.navbar {
  font-family: 'Lato', 'sans-serif';

}

@media (max-width: 767.98px) {
  .logo {
    max-width: 50%;

  }
}

@media (min-width: 768px) {
  .logo {
    max-width: 20%;
  }
}

.cBorder {
  border-top: 2px solid #715b4c;
}

@media (max-width: 767.98px) {
  .navbar.custom-border {
    border-top: 2px solid #715b4c;
  }
}


@media (min-width: 768px) {
  .navbar.custom-border {
    border-top: 2px solid #715b4c;
    border-bottom: 2px solid #715b4c;
  }
}

@media (max-width: 767.98px) {
  .custom-border {
    border-top: 2px solid #715b4c;
  }
}


@media (min-width: 768px) {
  .custom-border {
    border-top: 2px solid #715b4c;
    border-bottom: 2px solid #715b4c;
  }
}

.btn {
  font-family: Zodiak;
}

.modal-header {
  border: none;
}

.modal-footer {
  border: none;
}
/* Small - mobil: max 767.98px */
@media (max-width: 767.98px) {
  .monstera-bg {
    display: none !important;
  }

  .telefon-bg {
    display: block !important;
    opacity: 0.3;
    position: absolute;
    width: 100%;
    z-index: -1;
  }

  .tablet-bg {
    display: none !important;
  }
}

/* Medium - tablet: mellem 768px og 1199.98px */
@media (min-width: 768px) and (max-width: 1199.98px) {
  .monstera-bg {
    display: none !important;
  }

  .telefon-bg {
    display: none !important;
  }

  .tablet-bg {
    display: block !important;
    opacity: 0.3;
    position: absolute;
    width: 100%;
    z-index: -1;
  }
}

/* Large - desktop: 1200px og op */
@media (min-width: 1200px) {
  .monstera-bg {
    display: block !important;
    opacity: 0.3;
    position: absolute;
    width: 100%;
    z-index: -1;
  }

  .telefon-bg {
    display: none !important;
  }

  .tablet-bg {
    display: none !important;
  }
}



.text-overlay {
  position: relative;
  z-index: 1;
}


.fed {
  font-family: 'Zodiak-Bold', 'serif';
}

.accordion-body {
  background-color: #EBE0CF;
  color: #2A1813;
  margin-top: -10px;
  border-color: #EBE0CF;
}

.accordion-header {
  background-color: #EBE0CF;
  color: #2A1813;
  border-color: #EBE0CF;
}

.accordion-item {
  background-color: #EBE0CF;
  border-color: #EBE0CF;
}

.accordion-button {
  background-color: #EBE0CF;
  border-color: #EBE0CF;

}

.accordion-button:not(.collapsed) {
  background-color:#EBE0CF;
  color: #2A1813;
  border-color: #EBE0CF;
}

.accordion-button {
  border: none !important;
  box-shadow: none !important;
}


.fedkursiv {
font-family: 'Zodiak-BoldItalic', 'serif';
}

.kursiv {
  font-family: 'Zodiak-Italic', 'serif';
}

.extra {
  font-family: 'Zodiak-Extrabold', 'serif';
}

.nails {
  width: 100px;
}

.knapperne {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;

  width: 80%;         /* Fylder hele col-bredden */
  height: 200px;       /* Gør knappen højere */
  background-color: #f1e7d8; /* Eller hvad du bruger */
  border: none;
  border-radius: 16px;

  text-decoration: none;
  transition: 0.3s ease;
}

.btn-wd:hover {
  transform: scale(1.02); /* Lille effekt ved hover */
}

.carousel-control-prev-icon,
.carousel-control-next-icon {
  display: none;
}

.custom-arrow {
  font-size: 2rem;
  color: #664b3c;
  position: absolute;
  top: 50%;
  transform: translateY(-50%);
}

.carousel-control-prev .custom-arrow {
  left: 1rem;
}

.carousel-control-next .custom-arrow {
  right: 1rem;
}

.sticky-bottom {
  position: fixed;
  bottom: 0;
  left: 0;
  width: 100%;
  background-color: #a3836b;
  padding: 0.5rem;
  z-index: 1000;
  box-shadow: 0 -2px 5px rgba(0, 0, 0, 0.1);
}

.sticky-bottom a {
  color: #fff;
  background-color: #a3836b;
  border: none;
  font-weight: bold;
}

.book-btn:hover {
  background-color: #8c6d58;
  text-decoration: underline;

}

.book-btn:active {
  background-color: #664b3c;
  text-decoration: underline;
}

.btn-text{
text-decoration: underline;
}